certifi==2022.12.7
chardet==3.0.4
idna==2.6
requests==2.20.0
urllib3==1.24.2
Flask>=0.10.1
python-telegram-bot>=2.5
gunicorn>=19.9.0
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
oauth2client
pymongo